:root {
    --bg-color: #0D1117;
    --text-color: #C9D1D9;
    --banner-bg: #161B22;
    --status-operational: #22D07A;
    --status-down: #ef4c4c;
    --status-warning: #d7975d;
    --status-error: #ef4c4c; /* Color para errores */
    --accent-color: #c21e43; /* Color de acento */
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}

main {
    flex: 1;
}

/* Banner */
.banner {
    position: relative;
    background-color: var(--banner-bg);
    padding: 20px 0;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: auto;
}

.login-button {
    position: absolute;
    top: 20px; /* Espacio desde la parte superior */
    right: 20px; /* Espacio desde la derecha */
    padding: 10px; /* Espacio interno del botón */
    background-color: var(--accent-color); /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    text-decoration: none; /* Sin subrayado */
    font-size: 1rem; /* Tamaño de fuente */
    display: flex; /* Para centrar el ícono */
    align-items: center; /* Alinear verticalmente el ícono */
    justify-content: center; /* Alinear horizontalmente el ícono */
}

.login-button:hover {
    background-color: #7e1529; /* Cambia el color de fondo al pasar el mouse */
}

.login-button i {
    color: white; /* Color normal del ícono */
}


.check-icon {
    font-size: 2.5rem;
    color: var(--status-operational);
    margin-bottom: 10px;
}

h1 {
    font-size: xx-large;
    margin: 0;
    text-align: center;
    color: var(--text-color);
}

.help-message {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}

.help-link {
    color: var(--status-operational);
    text-decoration: underline;
}

.help-link:hover {
    color: #1ca160;
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto 0 auto;
    padding: 20px 0;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-top: 20px;
}

.service-card {
    background-color: var(--banner-bg);
    border: 1px solid #30363D;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; /* Menor separación */
}

.status-icon {
    font-size: 1.5rem;
}

.status-operational {
    color: var(--status-operational);
}

.status-down {
    color: var(--status-down);
}

.status-warning {
    color: var(--status-warning);
}

.service-card h2 {
    font-size: 1.2rem;
    color: var(--text-color);
}

.url {
    margin-top: 5px; /* Espacio pequeño arriba */
    margin-bottom: 10px; /* Espacio más grande abajo */
}

.description {
    margin: 1px 0; /* Espacio muy pequeño arriba y abajo */
    color: #8B949E; /* Color para la descripción */
}

.hidden-url {
    color: var(--accent-color);
}

.service-link {
    color: var(--accent-color); /* Verde que combina bien con los íconos de verificación */
    text-decoration: none;
}

.service-link:hover {
    color: #7e1529; /* Un tono más oscuro al pasar el mouse */
}

p {
    margin: 0;
    padding: 0;
}

/* Footer */
.footer {
    background-color: #161B22;
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    left: 0;
    margin-top: 20px;
}

.footer-logo {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    h1 {
        font-size: large;
    }

    .check-icon {
        font-size: 1.8rem;
    }

    .service-card {
        padding: 15px; /* Menos padding para pantallas pequeñas */
    }

    .service-card h2 {
        font-size: 1rem; /* Menor tamaño de fuente para pantallas pequeñas */
    }

    .login-button {
        font-size: 0.9rem; /* Tamaño más pequeño en móviles */
        padding: 8px 12px; /* Menos padding en móviles */
    }
}
