:root {
    --bg-color: #0D1117;
    --text-color: #C9D1D9;
    --banner-bg: #161B22;
    --status-operational: #22D07A;
    --status-down: #D02222;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}

/* Banner */
.banner {
    position: relative;
    background-color: var(--banner-bg);
    padding: 20px 0;
    min-height: 20vh; /* Reducimos el tamaño del banner */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Logo en la esquina superior izquierda */
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: auto;
}

/* Ícono de verificación centrado encima del texto */
.check-icon {
    font-size: 2.5rem;
    color: var(--status-operational);
    margin-bottom: 10px;
}

/* Título centrado */
h1 {
    font-size: xx-large;
    margin: 0;
    text-align: center;
    color: var(--text-color);
}

/* Mensaje de ayuda debajo del banner */
.help-message {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}

.help-link {
    color: var(--status-operational);
    text-decoration: underline;
}

.help-link:hover {
    color: #1ca160;
    text-decoration: none;
}

/* Contenedor principal */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto 0 auto;
    padding: 20px 0;
}

/* Cuadrícula de servicios */
.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-top: 20px;
}

/* Tarjetas de servicio */
.service-card {
    background-color: var(--banner-bg);
    border: 1px solid #30363D;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Iconos de estado */
.status-icon {
    font-size: 1.5rem;
}

.status-operational {
    color: var(--status-operational);
}

.status-down {
    color: var(--status-down);
}

.service-card h2 {
    font-size: 1.2rem;
    color: var(--text-color);
}

.service-card .description,
.service-card .comments {
    font-size: 0.85rem;
    color: #8B949E;
    margin-top: 10px;
}

p {
    margin: 0;
    padding: 0;
}

/* Footer */
.footer {
    background-color: #161B22;
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    left: 0;
    margin-top: 20px;
}

.footer-logo {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    h1 {
        font-size: large;
    }

    .check-icon {
        font-size: 2rem;
    }

    .logo {
        width: 40px; /* Tamaño más pequeño en pantallas pequeñas */
    }
}
