<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragmentos de Servicios</title>
</head>
<body>
<div class="service-grid" th:fragment="serviceGrid">
    <div th:each="service : ${services}" class="service-card">
        <h2 th:text="${service.name}">Nombre del Servicio</h2>
        <span class="icon"><i class="fas fa-check-circle"></i></span>
        <p th:text="${service.description}">Descripción del servicio</p>
        <p class="status" th:text="${service.status}">Estado</p>
    </div>
</div>
</body>
</html>
